<footer class="bg-dark text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>FoodExpress</h5>
        <p>Delicious food delivered to your door</p>
      </div>
      <div class="col-md-3">
        <h5>Company</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-white text-decoration-none">About Us</a>
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">Careers</a>
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Legal</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">Terms</a></li>
          <li>
            <a href="#" class="text-white text-decoration-none">Privacy</a>
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">Cookies</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Follow Us</h5>
        <div class="d-flex gap-3">
          <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <hr />
    <div class="text-center">
      <p class="mb-0">© 2025 FoodExpress. Developed by Emanuel Navas</p>
    </div>
  </div>
</footer>
