<!-- Footer -->
  <footer class="bg-dark text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5>LearnHub</h5>
          <p>Learn the skills you need for the future.</p>
        </div>
        <div class="col-md-3">
          <h5>Company</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">About</a></li>
            <li><a href="#" class="text-white">Careers</a></li>
            <li><a href="#" class="text-white">Blog</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Support</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Help Center</a></li>
            <li><a href="#" class="text-white">Terms</a></li>
            <li><a href="#" class="text-white">Privacy</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Connect</h5>
          <div class="social-icons">
            <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <p>&copy; 2025 LearnHub, Inc. All rights reserved.</p>
      </div>
    </div>
  </footer>