<footer class="bg-dark text-white py-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Catálogo de Cursos</h5>
        <p>Plataforma de aprendizaje en línea</p>
      </div>
      <div class="col-md-6 text-md-end">
        <p>&copy; 2023 Catálogo de Cursos. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>